/*
	Created by: Josh Wafford
	File: styles.css
	Date: 24MAY2021
*/

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background: #000;
	font-family: Magneto, "Times New Roman", sans-serif;
}

/* Style rules for header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 5%;
	color: #fff;
	font-size: 1.25rem;
}

.logo {
	cursor: pointer;
	margin-right: 30%;
}

/* Style rules for nav */
li, a {
	font-family: Magneto, "Times New Roman", sans-serif;
	font-size: 1.25rem;
	text-decoration: none;
	color: #fff;
}

.navlinks {
	list-style: none;
}

.navlinks li {
	display: inline-block;
	padding: 10px;
}

/* Style rules for homepage */
.home {
	display: flex;
	flex-wrap: wrap;
	margin-left: 15%;
}

.homeimg img {
	width: 400px;
	border-radius: 0.5rem;
	float: left;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.homep p {
	color: #fff;
	font-family: "Times New Roman", sans-serif;
	font-size: 1.25rem;
	line-height: 2.25rem;
	margin-right: 20%;
}

#text {
	text-align: center;
	color: #fff;
	font-size: 2rem;
}

/* Style rules for footer */
footer p {
	font-size: 1rem;
	text-align: right;
	color: #fff;
	padding: 10% 10% 1%;
	font-family: Magneto, "Times New Roman", sans-serif;
}

.content {
	color: #fff;
	font-size: 1.25rem;
	margin: 0 10%;
	font-family: "Times New Roman", sans-serif;
	
}

@media (hover) {
	.models:hover {
		transform: scale(1.10);
		transition: all 500ms ease;
	}
}

.cardminis > * {
	flex: 0 1 20%;
}

.models {
	background-size: cover;
	color: #fff;
	border-radius: 0.5rem;
	margin-left: 1%;
	margin-right: 1%;
}

.cardimage {
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	border-radius: 0.5rem;
	margin-top: -.5rem;
}

.acererak-the-lich {background-image: url(../images/acererakthelich-painted.jpg)}
.animated-armor {background-image: url(../images/comingsoon.jpg)}
.bugbears {background-image: url(../images/bugbears-unpainted.jpg)}
.goblins {background-image: url(../images/goblins-painted.jpg)}
.grick {background-image: url(../images/comingsoon.jpg)}
.hobgoblins {background-image: url(../images/hobgoblins-unpainted.jpg)}
.nothic {background-image: url(../images/comingsoon.jpg)}
.stone-giant {background-image: url(../images/comingsoon.jpg)}

.countdown {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.yasashii {
	margin-left: 15%;
}

.yasashii img {
	width: 20%;
	float: left;
	margin-right: 2rem;
	border-radius: 0.5rem;
}

.yasashii p {
	margin-right: 25%;
	color: #fff;
	font-family: "Times New Roman", sans-serif;
	font-size: 1.25rem;
	line-height: 2.25rem;
}

.cardlore > * {
	flex: 0 1 20%;
}

.card {
	background: #fff;
	width: 300px;
	height: 460px;
	margin: .5% 1%;
	background-size: cover;
	color: #000;
	padding: 1em 0 0;
	border-radius: 0.5rem;
	overflow: hidden;
}

@media (hover) {
	.card:hover {
		transform: scale(1.10);
		transition: all 500ms ease;
	}
}

.card-title {
	position: relative;
	width: max-content;
	color: #000;
	padding: 0 .5em;
	margin-top: -1em;
}

.card-body {
	color: #000;
	font-family: "Times New Roman", sans-serif;
	padding: 0 1em;
}

.button {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: #000;
	background-color: #fff;
	padding: 0.25em 0.5em;
	border-radius: 0.25rem;
	margin-left: 1em;
}

.button:hover, .button:focus {
	background-color: #000;
	color:#fff;
}

/* Stylre rules for lore pages */
.lore-page {
	margin: 0 5em;
}

.lore-pic img {
	float: left;
	margin-right: 1em;
	border-radius: 0.5rem;
}

.lore {
	color: #fff;
}

.lore p {
	font-family: "Times New Roman", sans-serif;
}

@media (min-width: 1015px) {
	/* Style rules for cardminis */
	.cardminis {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	/* Style rules for cardlore */
	.cardlore {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.container {
		width: 100%;
		height: 100%;
	}
		
	.container ul {
		position:fixed;
		top: -1em;
		z-index: 1;
		background: rgba(0,0,0,0.7);
		display: flex;
		list-style: none;
		width: 100%;
		justify-content: center;
	}
	
	.container ul li {
		margin: 0 .5rem;
		padding: 1rem;
	}
	
	.container ul li a {
		text-decoration: none;
	}
	
	.container ul li a:hover {
		color: red;
	}
}