/*
	Created by: Josh Wafford
	File: styles.css
	Date: 24MAY2021
*/

/* CSS Reset */
body, header, nav, main, footer, h1, img, div, figure,  {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for header */
header {
	margin: 2%;
	font-size: 2em;
	color: #fff;
	float: left;
}

header h1 {
	font-family: Magneto, "Times New Roman", sans-serif;
}

header h1 a {
	color: #fff;
	text-decoration: none;
}

/* Style rules for body */
body {
	background-color: #000;
}

/* Style rules for navigation */
nav {
	clear: right;
}

nav ul {
	margin: 0 5%;
	padding: 4% 0;
	list-style-type: none;
	text-align: right;
}

nav li {
	display: inline-block;
	margin-left: 5%;
	font-size: 1.25em;
}

nav li a {
	color: #fff;
	text-decoration: none;
	font-family: Magneto, "Times New Roman", sans-serif;
}

/* Style rules for main */
main {
	clear: both;
	font-size: 1.25em;
	text-align: center;
	color: #fff;
	font-family: "Times New Roman", sans-serif;
	padding: 5em;
}

/* Style rules for footer */
footer p {
	font-size: 1em;
	text-align: right;
	color: #fff;
	padding: 0 10%;
	font-family: Magneto, "Times New Roman", sans-serif;
}

/* Style rules for img */
img {
	max-width: 100%;
	display: center;
}

/* Style rules for miniatures */
figure {
	position: relative;
	font-size: 1.5em;
	display: grid;
}

.miniatures {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column: span 4;
}

.minis {
	width: 40%;
	padding: 0 50%;
}

/* Style ruels for Monsters/Lore */
	/* Style rules for table */
	table {
		border: 1px solid #ccc;
		border-collapse: collapse;
		margin: 0 auto;
		width: 100%;
	}

	table a {
		text-decoration: none;
		color: #000;
	}

	th {
		font-size: 1.25em;
	}

	tr {
		text-align: left;
	}

	tr:nth-child(even) {
			background-color: #ccc;
			color: #000;
	}

	/* Style rules for previous/next pages */
	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.right, .left {
		text-decoration: none;
		color: #fff;
		font-size: 1.25em;
	}

	.lore {
		text-align: left;
	}

	.lore-list h1 {
		display: none;
	}

#aboleth, #air-elemental, #allosaurus, #animated-armor, #ankheg, #ankylosaurus, #azer, #balor, #banshee, #barbed-devil, #barlgura, #basilisk, #bearded-devil, #behir, #beholder, #black-dragon, #blue-dragon, #bone-devil, #brass-dragon, #bronze-dragon, #bugbears, #bulette, #bullywug, #cambion, #carrion-crawler, #centaur, #chain-devil, #chasme, #chimera, #chuul, #clay-golem, #cloaker, #cloud-giant, #cockatrice, #copper-dragon, #couatl, #crawling-claw, #cyclops, #dao, #darkmantle, #death-knight, #death-tyrant, #demilich, #deva, #displacer-beast, #djinni, #doppelganger, #dracolich, #dragon-turtle, #dretch, #drider, #drow, #dryad, #duergar, #duodrone, #dust-mephit, #earth-elemental, #efreeti, #empyrean, #erinyes, #ettercap, #ettin, #faerie-dragon, #fire-elemental, #fire-giant, #flameskull, #flesh-golem, #flumph, #flying-sword, #fomorian, #frost-giant, #galeb-duhr, #gargoyle, #gas-spore, #ghost, #ghouls, #gibbering-mouther, #gith, #githyanki, #githzerai, #glabrezu, #gnolls, #gnomes, #goblins, #gold-dragon, #gorgon, #goristro, #green-dragon, #green-hag, #grell, #grick, #griffon, #grimlock, #half-dragon, #harpy, #hell-hound, #helmed-horror, #hezrou, #hill-giant, #hippogriff, #hobgoblins, #homunculus, #hook-horror, #horned-devil, #hydra, #ice-devil, #ice-mephit, #imp, #incubus, #intellect-devourer, #invisible-stalker, #iron-golem, #jackalwere, #kenku, #kobolds, #kraken, #kuo-toa, #lamia, #lemure, #lich, #lizardfolk, #magma-mephit, #magmin, #manes, #manticore, #marid, #marilith, #medusa, #merfolk, #merrow, #mimic, #mind-flayer, #minotaur, #monodrone, #mud-mephit, #mummies, #myconids, #nagas, #nalfeshnee, #needle-blight, #night-hag, #nightmare, #nothic, #ogres, #oni, #oozes, #orcs, #otyugh, #owlbear, #pegasus, #pentadrone, #peryton, #piercer, #pit-fiend, #pixie, #planetar, #plesiosaurus, #pseudodragon, #pteranodon, #purple-worm, #quadrone, #quaggoth, #quasit, #rakshasa, #red-dragon, #remorhazes, #revenant, #roc, #roper, #rug-of-smothering, #rust-monster, #sahuagin, #salamanders, #satyr, #scarecrow, #sea-hag, #shadow, #shadow-demon, #shadow-dragon, #shambling-mound, #shield-guardian, #skrieker, #silver-dragon, #skeletons, #slaadi, #smoke-mephit, #solar, #spectator, #specter, #sphinxes, #spined-devil, #sprite, #steam-mephit, #stirge, #stone-giant, #stone-golem, #storm-giant, #succubus, #tarrasque, #thri-kreen, #treant, #triceratops, #tridrone, #troglodyte, #troll, #twig-blight, #tyrannosaurus-rex, #umber-hulk, #unicorn, #vampires, #vine-blight, #violet-fungus, #vrock, #water-elemental, #water-weird, #werebear, #wereboar, #wererat, #weretiger, #werewolf, #white-dragon, #wight, #will-o-wisp, #wraith, #wyvern, #xorn, #yeti, #yochlol, #yuan-ti, #yugoloths, #zombies {
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: left center;
}

	/* Background Image Links */
	#aboleth {background-image: url(../images/aboleth.png);}
	#air-elemental {background-image: url(../images/elemental-air.png);}
	#allosaurus {background-image: url(../images/allosaurus.png);}
	#animated-armor {background-image: url(../images/animated-armor.png);background-size: 20%;}
	#ankheg {background-image: url(../images/ankheg.png);}
	#ankylosaurus {background-image: url(../images/ankylosaurus.png);}
	#azer {background-image: url(../images/azer.png);}
	#balor {background-image: url(../images/demon-balor.png);}
	#banshee {background-image: url(../images/banshee.png);}
	#barbed-devil {background-image: url(../images/devil-barbed.png);}
	#barlgura {background-image: url(../images/demon-barlgura.png);}
	#basilisk {background-image: url(../images/basilisk.png);}
	#bearded-devil {background-image: url(../images/bearded-devil.png);}
	#behir {background-image: url(../images/behir.png);}
	#beholder {background-image: url(../images/beholder.png);}
	#black-dragon {background-image: url(../images/dragon-black.png);}
	#blue-dragon {background-image: url(../images/dragon-blue.png);}
	#bone-devil {background-image: url(../images/devil-bone.png);}
	#brass-dragon {background-image: url(../images/dragon-brass.png);}
	#bronze-dragon {background-image: url(../images/dragon-bronze.png);}
	#bugbears {background-image: url(../images/bugbears.png);}
	#bulette {background-image: url(../images/bulette.png);}
	#bullywug {background-image: url(../images/bullywug.png);}
	#cambion {background-image: url(../images/cambion.png);}
	#carrion-crawler {background-image: url(../images/carrion-crawler.png);}
	#centaur {background-image: url(../images/centaur.png);}
	#chain-devil {background-image: url(../images/devil-chain.png);}
	#chasme {background-image: url(../images/demon-chasme.png);}
	#chimera {background-image: url(../images/chimera.png);}
	#chuul {background-image: url(../images/chuul.png);}
	#clay-golem {background-image: url(../images/golem-clay.png);}
	#cloaker {background-image: url(../images/cloaker.png);}
	#cloud-giant {background-image: url(../images/giant-cloud.png);}
	#cockatrice {background-image: url(../images/cockatrice.png); background-size: 35%;}
	#copper-dragon {background-image: url(../images/dragon-copper.png);}
	#couatl {background-image: url(../images/couatl.png);}
	#crawling-claw {background-image: url(../images/crawling-claw.png);}
	#cyclops {background-image: url(../images/cyclops.png);}
	#dao {background-image: url(../images/genies-dao.png);}
	#darkmantle {background-image: url(../images/darkmantle.png); background-size: 25%;}
	#death-knight {background-image: url(../images/death-knight.png);}
	#death-tyrant {background-image: url(../images/death-tyrant.png);}
	#demilich {background-image: url(../images/demilich.png);}
	#deva {background-image: url(../images/angel-deva.png); background-size: 35%;}
	#displacer-beast {background-image: url(../images/displacer-beast.png);}
	#djinni {background-image: url(../images/genies-djinni.png);}
	#doppelganger {background-image: url(../images/doppelganger.png);}
	#dracolich {background-image: url(../images/dracolich.png);}
	#dragon-turtle {background-image: url(../images/dragon-turtle.png);}
	#dretch {background-image: url(../images/demon-dretch.png);}
	#drider {background-image: url(../images/drider.png);}
	#drow {background-image: url(../images/drow.png);}
	#dryad {background-image: url(../images/dryad.png);}
	#duergar {background-image: url(../images/duergar.png);}
	#duodrone {background-image: url(../images/duodrone.png);}
	#dust-mephit {background-image: url(../images/mephit-dust.png);}
	#earth-elemental {background-image: url(../images/elemental-earth.png);}
	#efreeti {background-image: url(../images/efreeti.png);}
	#empyrean {background-image: url(../images/empyrean.png);}
	#erinyes {background-image: url(../images/erinyes.png);}
	#ettercap {background-image: url(../images/ettercap.png);}
	#ettin {background-image: url(../images/ettin.png);}
	#faerie-dragon {background-image: url(../images/faerie-dragon.png);}
	#fire-elemental {background-image: url(../images/elemental-fire.png);}
	#fire-giant {background-image: url(../images/giant-fire.png);}
	#flameskull {background-image: url(../images/flameskull.png);}
	#flesh-golem {background-image: url(../images/golem-flesh.png);}
	#flumph {background-image: url(../images/flumph.png);}
	#flying-sword {background-image: url(../images/flying-sword.png);}
	#fomorian {background-image: url(../images/fomorian.png);}
	#frost-giant {background-image: url(../images/giant-frost.png);}
	#galeb-duhr {background-image: url(../images/galeb-duhr.png);}
	#gargoyle {background-image: url(../images/gargoyle.png);}
	#gas-spore {background-image: url(../images/gas-spore.png);}
	#ghost {background-image: url(../images/ghost.png);}
	#ghouls {background-image: url(../images/ghouls.png);}
	#gibbering-mouther {background-image: url(../images/gibbering-mouther.png);}
	#gith {background-image: url(../images/gith.png);}
	#githyanki {background-image: url(../images/githyanki.png);}
	#githzerai {background-image: url(../images/githzerai.png);}
	#glabrezu {background-image: url(../images/demon-glabrezu.png);}
	#gnolls {background-image: url(../images/gnolls.png);}
	#gnomes {background-image: url(../images/gnomes.png);}
	#goblins {background-image: url(../images/goblins.png);}
	#gold-dragon {background-image: url(../images/gold-dragon.png);}
	#gorgon {background-image: url(../images/gorgon.png);}
	#goristro {background-image: url(../images/demon-goristro.png);}
	#green-dragon {background-image: url(../images/green-dragon.png);}
	#green-hag {background-image: url(../images/green-hag.png);}
	#grell {background-image: url(../images/grell.png);}
	#grick {background-image: url(../images/grick.png);}
	#griffon {background-image: url(../images/griffon.png);}
	#grimlock {background-image: url(../images/grimlock.png);}
	#half-dragon {background-image: url(../images/grimlock.png);}
	#harpy {background-image: url(../images/harpy.png);}
	#hell-hound {background-image: url(../images/hell-hound.png);}
	#helmed-horror {background-image: url(../images/helmed-horror.png);}
	#hezrou {background-image: url(../images/demon-hezrou.png);}
	#hill-giant {background-image: url(../images/hill-giant.png);}
	#hippogriff {background-image: url(../images/hippogriff.png);}
	#hobgoblins {background-image: url(../images/hobgoblins.png);}
	#homunculus {background-image: url(../images/homunculus.png);}
	#hook-horror {background-image: url(../images/hook-horror.png);}
	#horned-devil {background-image: url(../images/horned-devil.png);}
	#hydra {background-image: url(../images/hydra.png);}

/* Style rules for contact */
.email {
	text-decoration: none;
	font-size: 1.25em;
	color: #fff;
	font-family: Magneto, "Times New Roman", sans-serif;
}

/* Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
	
}